<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #5e35b1;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SnapBuy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/products">Products</a>
                <a class="nav-link" href="/products/new">New Product</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) {%>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" style="color:white">
                            Login
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/login/seller">Login as Seller</a></li>
                            <li><a class="dropdown-item" href="/login/buyer">Login as Buyer</a></li>
                        </ul>
                    </div>
                    <a href="/register" class="nav-link" style="color:white">Register</a>
                    <% } else {%>
                        <a href="/logout" class="nav-link">Logout</a>
                        <% } %>

            </div>
        </div>
    </div>
</nav>