.card-img-top {
    width: 400px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
}

.nomatch {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}