h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.product-card {
    width: 400px;
    height: 575px;
    background-position: center center;
    background-repeat: no-repeat;
}


.card-img-top {

    margin-top: 1rem !important;
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
}

.seller-img {
    width: 550px;
    height: 300px;
    margin-top: 3.5rem;
}

#productname {
    margin-left: 0.5rem;
    text-decoration: none;
    color: black;
}

.nomatch {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.description {
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    width: 360px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}

.category {
    margin-top: 3.5rem;
    margin-left: 0.5rem;
}

#cata {
    text-decoration: none;
    color: black;
}


.contactnum {
    /* margin-right: 10px; */
    margin-left: 0.5rem;
}

.view-details {
    background-color: rgb(150, 162, 162);
    border-color: rgb(150, 162, 162);
    margin-left: 1rem;
    /* margin-right: 1rem; */
}

.view-details:hover {
    background-color: #5e35b1 !important;
    border-color: #5e35b1 !important;
}

.modalbtn {
    background-color: rgb(150, 162, 162);
    border-color: rgb(150, 162, 162);
    margin-left: 1rem;
}

.modalbtn:hover {
    background-color: #5e35b1 !important;
    border-color: #5e35b1 !important;
}

.seller a {
    text-decoration: none;
    color: black;
    margin-left: 0.5rem;
}

.seller {
    margin-top: 0.5rem;
}

.inli {
    display: inline-block;
}