/* .login-card {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #5e35b1 !important;
    width: 25rem;
} */

.fullpage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    margin-top: 10rem;
    background-color: #5e35b1 !important;
    width: 20rem;
    /* width: 90% !important; */
    /* width: 35rem; */
}

.main-icon {
    margin-top: 1rem;
    font-size: 3rem;
}

.btn-login {
    background-color: rgb(150, 162, 162);
    border-color: rgb(150, 162, 162);
}

.btn-login:hover {
    background-color: #5e35b1 !important;
    border-color: #ffffff !important;
}