<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/styleSheets/sellerRegister.css">
    <div class="full-page">
        <form class="needs-validation" action="/register/seller" method="POST" novalidate>
            <div class="card login-card text-bg-secondary">

                <div class="card-body">

                    <h2 class="card-title text-center">Register Business with SnapBuy</h2>
                    <h3>Business Information</h3>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label" for="companyname">Company Name</label>
                            <input class="form-control" type="text" id="companyname" name="companyname" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="proprietorname">Proprietor Name</label>
                            <input class="form-control" type="text" id="proprietorname" name="proprietorname" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class=" col-md-6">
                            <label class="form-label" for="address">Address</label>
                            <input class="form-control" type="text" id="address" name="address" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class=" col-md-6">
                            <label class="form-label" for="nature">Nature of Business</label>
                            <input class="form-control" type="text" id="nature" name="nature" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class=" col-md-12">
                            <label class="form-label" for="image">Company Logo</label>
                            <input class="form-control" type="text" id="image" name="image" required>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="aboutcompany">About Company</label>
                            <textarea class="form-control" name="aboutcompany" id="aboutcompany" cols="30" rows="3"
                                required></textarea>
                        </div>
                        <h3 style="margin-bottom: -0.65rem;">Login Information</h3>
                        <div class="col-md-6">
                            <label class="form-label" for="contactNumber">Contact Number</label>
                            <input class="form-control" type="text" id="contactNumber" name="contactNumber" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class=" col-md-6">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button type="" class="btn btn-success btn-login">Register</button>

                    </div>

                </div>
            </div>
        </form>
    </div>