<% layout('layouts/boilerplate')%>
    <h1 class="mt-5">Register Your Business with SnapBuy</h1>
    <form action="/register/seller" method="POST" class="validated-form" novalidate>
        <h3>Business Information</h3>
        <div class="mb-3">
            <label class="form-label" for="proprietorname">Proprietor Name</label>
            <input class="form-control" type="text" id="proprietorname" name="proprietorname" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="companyname">Company Name</label>
            <input class="form-control" type="text" id="companyname" name="companyname" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="nature">Nature of Business</label>
            <input class="form-control" type="text" id="nature" name="nature" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Company Logo</label>
            <input class="form-control" type="text" id="image" name="image" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="aboutcompany">About Company</label>
            <textarea class="form-control" name="aboutcompany" id="aboutcompany" cols="30" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="address">Address</label>
            <input class="form-control" type="text" id="address" name="address" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="contactNumber">Contact Number</label>
            <input class="form-control" type="text" id="contactNumber" name="contactNumber" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="email" id="username" name="username" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Register</button>
    </form>