.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #F0F8FF;
    background-color: #5e35b1;
}

.active {
    background-color: aqua;
}

.nav {
    background-color: black;
}

.nav-link {
    text-decoration: none;
    color: aliceblue;
}

.nav-item>a:hover {
    background-color: #5e35b1;
    color: #F0F8FF;
}

.card-img-top {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    width: 400px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25rem;
    height: 28rem;
}

.card-title {
    margin-top: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.card-text {
    text-decoration: none;
    text-align: center;
}

@media (max-width:1423px) {
    .card-img-top {
        width: 250px;
        height: 150px;
    }

    .card {
        width: 20rem;
        height: 18rem;
    }
}

@media (max-width:987px) {
    .card-img-top {
        width: 200px;
        height: 150px;
    }

    .card {
        width: 15rem;
        height: 13rem;
    }

    h3 {
        padding: 0;
        margin: 0;
        font-size: 1rem;
    }

    p {
        font-size: 0.80rem;
    }

}