<% layout('layouts/boilerplate')%>
    <div class=" d-flex justify-content-md-center align-items-center text-center vh-100">
        <div class="row">
            <div class="col-sm-6">
                <a href="/register/buyer" class="text-reset text-decoration-none">
                    <div class="card" style="width: 40rem; height: 37rem;">
                        <div class="card-body">
                            <h2 class="card-title mb-3 mt-1">Register as Buyer</h2>
                            <img src="https://images.unsplash.com/photo-1521566652839-697aa473761a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
                                class="card-img img-responsive" alt="...">
                            <p class="card-text mt-3">As a Buyer, send inquiries to listed businesses and receive the
                                best
                                possible quotes. Get to view all the business details and contact numbers.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="/register/seller" class="text-reset text-decoration-none">
                    <div class="card" style="width: 40rem; height: 37rem;">
                        <div class=" card-body">
                            <h2 class="card-title mb-3 mt-1">Register as Seller</h2>
                            <img src="https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                class="card-img img-responsive" alt="...">
                            <p class="card-text-bottom mt-3">As a seller, you get everything that buyer gets. In
                                addition,
                                you get
                                the
                                option to list your business, products, and services in the SnapBuy. You also
                                get an enhanced dashboard to track inquiries and profile information.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>