<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css">
    <div class="row mt-4">
        <h1 class="text-center">New Product</h1>
        <div class="col-6 offset-3">
            <form action="/products" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Product Name</label>
                    <input class="form-control" type="text" id="title" name="product[title]" required>
                </div>
                <div class="mb-3">
                    <label for="selec_box">Select Category</label>
                    <select class="form-select mt-2" name="product[categories]" id="select_box">
                        <option data-subtext="custom">Electronics</option>
                        <option data-subtext="mustard">Food and Beverages</option>
                        <option data-subtext="frosting">Fashion</option>
                        <option data-subtext="more">Mobiles</option>
                        <option data-subtext="more1">Grocery</option>
                        <option data-subtext="more2">Appliances</option>
                        <option data-subtext="more3">Books</option>
                        <option data-subtext="more3">Stationery And Office Supplies</option>
                        <option data-subtext="more3">Auto Accessories</option>
                        <option data-subtext="more3">Safety And Hygiene Essentials</option>
                        <option data-subtext="more3">Grooming</option>
                        <option data-subtext="more3">Sports And Fitness</option>
                    </select>
                </div>
                <div>
                    <input type="file" class="image" name="product">

                    <!-- <div class="mb-3">
                        <label class="form-label" for="image">Image Url</label>
                        <input class="form-control" type="text" id="image" name="product[image]" required>
                    </div> -->
                    <div class="mb-3">
                        <label class="form-label" for="price">Product Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">₹</span>
                            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                aria-describedby="price-label" name="product[price]" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="product[description]"
                            required></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Add Product</button>
                    </div>
            </form>
            <a href="/products">All Products</a>
        </div>
    </div>
    <script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>

    <script> const config={
            search: true, // Toggle search feature. Default: false
            creatable: false, // Creatable selection. Default: false
            clearable: true, // Clearable selection. Default: false
            maxHeight: '180px', // Max height for showing scrollbar. Default: 360px
            size: '', // Can be "sm" or "lg". Default ''
        }
        dselect(document.querySelector('#select_box'), config)</script>